.modal-underlay {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.modal {
  display: none;
  position: relative;
  background: #fff;
  padding: 25px;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
}
body.modal-open .modal {
  z-index: 3;
  position: relative;
}
